# Read CSV

In [2]:
import pandas as pd
import numpy as np

# Set data location specify data

In [3]:
data_location = "Data"
data_file = "E0.csv"

# Premier league

In [4]:
import os
data_frames = []
for root, dirs, files in os.walk(data_location):
    if data_file in files:
        data_frames.append(pd.read_csv(os.path.join(root,data_file)))
        
data = pd.concat(data_frames)

In [5]:
data.head(1)

,AC,AF,AR,AS,AST,AY,AwayTeam,B365A,B365D,B365H,...,SBH,SJA,SJD,SJH,VCA,VCD,VCH,WHA,WHD,WHH
0,5.0,8.0,0.0,5.0,4.0,0.0,West Brom,15.0,6.5,1.2,...,1.2,12.0,5.5,1.2,13.0,6.0,1.25,12.0,5.5,1.17

In [6]:
print(len(data))

3041

In [7]:
data.columns.values

array(['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'AwayTeam', 'B365A', 'B365D',
       'B365H', 'BSA', 'BSD', 'BSH', 'BWA', 'BWD', 'BWH', 'Bb1X2', 'BbAH',
       'BbAHh', 'BbAv<2.5', 'BbAv>2.5', 'BbAvA', 'BbAvAHA', 'BbAvAHH',
       'BbAvD', 'BbAvH', 'BbMx<2.5', 'BbMx>2.5', 'BbMxA', 'BbMxAHA',
       'BbMxAHH', 'BbMxD', 'BbMxH', 'BbOU', 'Date', 'Div', 'FTAG', 'FTHG',
       'FTR', 'GBA', 'GBD', 'GBH', 'HC', 'HF', 'HR', 'HS', 'HST', 'HTAG',
       'HTHG', 'HTR', 'HY', 'HomeTeam', 'IWA', 'IWD', 'IWH', 'LBA', 'LBD',
       'LBH', 'PSA', 'PSCA', 'PSCD', 'PSCH', 'PSD', 'PSH', 'Referee',
       'SBA', 'SBD', 'SBH', 'SJA', 'SJD', 'SJH', 'VCA', 'VCD', 'VCH',
       'WHA', 'WHD', 'WHH'], dtype=object)

# Set Index

In [8]:
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%y')
all_data = data.set_index('Date')

# Select input features

In [9]:
data = all_data[['HomeTeam', 'AwayTeam']] 
data.head(5)

                 HomeTeam   AwayTeam
Date
2008-08-16        Arsenal  West Brom
2008-08-16         Bolton      Stoke
2008-08-16        Everton  Blackburn
2008-08-16           Hull     Fulham
2008-08-16  Middlesbrough  Tottenham

In [10]:
data.tail(5)

              HomeTeam     AwayTeam
Date
2016-05-15       Stoke     West Ham
2016-05-15     Swansea     Man City
2016-05-15     Watford   Sunderland
2016-05-15   West Brom    Liverpool
2016-05-17  Man United  Bournemouth

In [11]:
input_features = data

In [12]:
g = input_features.columns.to_series().groupby(data.dtypes).groups

# Indentify categoricals

In [15]:
object_features = {key.name: value for key, value in g.items()}['object']

In [16]:
object_features

Index(['HomeTeam', 'AwayTeam'], dtype='object')

# Check for unusable fields

## Infinite values for example

# Baseline model

In [33]:
bins = np.bincount(output)
index = np.nonzero(bins)[0]
np.vstack((index,bins[index])).T

array([[  0, 721],
       [  1, 464],
       [  2, 384]], dtype=int64)

## Predict all games as a home win will result in 721/1569=0.460

# This is where you go for feature engineering

# This is where you go for data science

# Validation

In [44]:
def report_scoring(scores):
    print("List of scores: " + str(scores))
    print("mean scoring: " + str(scores.mean()))
    print("Standard deviation between scorings: " + str(scores.std()))

In [45]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(**THE MODEL**, **INPUT FEATURES**, **SUPERVISED OUTCOME**)

report_scoring(scores)

List of scores: [ 0.5         0.46462715  0.39655172]
mean scoring: 0.45372629173
Standard deviation between scorings: 0.0429302379462

## Feature importance

In [32]:
#This is an example
trained_random_forest_model = random_forest_model.fit(input_features,output)
pd.Series(trained_random_forest_model.feature_importances_, input_features.columns)

away_days_since_last_match        0.034171
away_games_played_in_two_weeks    0.015635
away_goals_conceded               0.054915
away_goals_scored                 0.051632
away_lose_streak                  0.016306
away_opponent_win_ratio           0.028847
away_total_draws                  0.045657
away_total_games                  0.053459
away_total_losses                 0.049818
away_total_wins                   0.056336
away_win_ratio                    0.075950
away_win_streak                   0.020923
home_days_since_last_match        0.034748
home_games_played_in_two_weeks    0.015756
home_goals_conceded               0.051910
home_goals_scored                 0.053271
home_lose_streak                  0.022074
home_opponent_win_ratio           0.029178
home_total_draws                  0.045498
home_total_games                  0.048948
home_total_losses                 0.048557
home_total_wins                   0.051073
home_win_ratio                    0.077969
home_win_streak                   0.017369
dtype: float64